Repository octokit/webhooks.js, pull requests merged in 2020-07, with the labels that each got.

#161 fix(types): Update "sign" and "verify" types in generate-types.js
  index.d.ts
  scripts/generate-types.js
  test/typescript-validate.ts
Labels: bug, typescript

#168 feat: "workflow_dispatch" event and new actions for "pull_request", "release", and "sponsorship"
  README.md
  index.d.ts
  src/webhook-names.json
Labels: feature

#113 feat(TypeScript): Webhook events are now an enum instead of a list of strings. Webhook event name types can be imported as EventNames
  .babelrc
  .github/workflows/test.yml
  .github/workflows/update.yml
  README.md
  package-lock.json
  package.json
  scripts/generate-file.js
  scripts/generate-types.js
  scripts/update-known-events.js
  src/event-handler/index.js
  src/event-handler/index.ts
  src/event-handler/on.ts
  src/event-handler/receive.js
  src/event-handler/receive.ts
  src/event-handler/remove-listener.ts
  src/event-handler/wrap-error-handler.ts
  src/generated/event-names.ts
  src/generated/event-payloads.ts
  src/generated/get-webhook-payload-type-from-event.ts
  src/generated/webhook-names.ts
  src/index.js
  src/index.ts
  src/middleware/get-missing-headers.ts
  src/middleware/get-payload.ts
  src/middleware/index.js
  src/middleware/index.ts
  src/middleware/isnt-webhook.ts
  src/middleware/middleware.ts
  src/middleware/verify-and-receive.ts
  src/sign/index.js
  src/sign/index.ts
  src/types.ts
  src/verify/index.js
  src/verify/index.ts
  test/integration/deprecations-test.js
  test/integration/event-handler-test.js
  test/integration/middleware-test.js
  test/integration/server-test.js
  test/integration/sign-test.js
  test/integration/smoke-test.js
  test/integration/verify-test.js
  test/typescript-validate.ts
  test/unit/event-handler-on-test.js
  test/unit/event-handler-receive-test.js
  test/unit/event-handler-remove-listener-test.js
  test/unit/event-handler-wrap-error-handler-test.js
  test/unit/middleware-constructor-test.js
  test/unit/middleware-test.js
  tsconfig.json
Labels: feature, typescript

#175 fix(package): release settings
  .github/workflows/release.yml
  package.json
Labels: bug
